# Handling date time properly is an essesntial part of any analytics project. Reading a date/ datetime column in proper format is important because of the following reasons:
- Incorrect format will lead to incorrect results while applying any filter
- Day/ Month extraction from the date will be incorrect

In [1]:
import datetime
import pandas as pd

Sources
1. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
2. https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

**1. Conversion of dates to standard format using pd.to_datetime**

In [12]:
# Using pd.to_datetime
# How to convert date fields from a csv file to standard format

sample_dates = ('03/11/2021', '03-Nov-2021', 'Nov 03 21', '11/03/2021')

date1 = pd.to_datetime(sample_dates[0], format = '%d/%m/%Y')

date2 = pd.to_datetime(sample_dates[1], format = '%d-%b-%Y')

date3 = pd.to_datetime(sample_dates[2], format = '%b %d %y')

date4 = pd.to_datetime(sample_dates[3], format = '%m/%d/%Y')

print('date1 = ', date1, ', date2 = ', date2, ', date3 = ', date3, ' , date4 = ', date4)

date1 =  2021-11-03 00:00:00 , date2 =  2021-11-03 00:00:00 , date3 =  2021-11-03 00:00:00  , date4 =  2021-11-03 00:00:00

**2. Conversion of dates to standard format using datetime.datetime.strptime**

In [13]:
# Using datetime.datetime.strptime
# How to convert date fields from a csv file to standard format

sample_dates = ('03/11/2021', '03-Nov-2021', 'Nov 03 21', '11/03/2021')

date1 = datetime.datetime.strptime(sample_dates[0], '%d/%m/%Y')

date2 = datetime.datetime.strptime(sample_dates[1], '%d-%b-%Y')

date3 = datetime.datetime.strptime(sample_dates[2], '%b %d %y')

date4 = datetime.datetime.strptime(sample_dates[3], '%m/%d/%Y')

print('date1 = ', date1, ', date2 = ', date2, ', date3 = ', date3, ' , date4 = ', date4)

date1 =  2021-11-03 00:00:00 , date2 =  2021-11-03 00:00:00 , date3 =  2021-11-03 00:00:00  , date4 =  2021-11-03 00:00:00

**3. Conversion of date time to standard format using strptime**

In [14]:
# Using I for 24 hrs and AM/PM 
start_dt = '2/11/2022 4:00 AM'

end_dt = '2/11/2022 4:30 PM'

start_dt1 = datetime.datetime.strptime(start_dt, '%m/%d/%Y %I:%M %p')

end_dt1 = datetime.datetime.strptime(end_dt, '%m/%d/%Y %I:%M %p')

print('start time: ', start_dt1, ' , end time: ', end_dt1)

start time:  2022-02-11 04:00:00  , end time:  2022-02-11 16:30:00

In [15]:
# Using H for 24 hrs and without AM/PM 
start_dth = '2/11/2022 4:00'

end_dth = '2/11/2022 16:30'

start_dth1 = datetime.datetime.strptime(start_dth, '%m/%d/%Y %H:%M')

end_dth1 = datetime.datetime.strptime(end_dth, '%m/%d/%Y %H:%M')

print('start time: ', start_dt1, ' , end time: ', end_dt1)

start time:  2022-02-11 04:00:00  , end time:  2022-02-11 16:30:00

**4. Changing date from one format to other**

In [18]:
# Changing formats '03/11/2021' to '03-Nov-2021'

date_a = '03/11/2021'

date_b = datetime.datetime.strptime(date_a, '%d/%m/%Y').strftime('Date: %d-%b-%Y')

print(date_b)

Date: 03-Nov-2021

**5. Getting days after or before a specific date**

In [19]:
# Getting dates a few days before or after today

today = datetime.date.today()
yesterday = today - datetime.timedelta(days = 1)

tomorrow = today + datetime.timedelta(days = 1)

print("yesterday was: ",yesterday)
print("tomorrow is:", tomorrow)

print("Yesterday formatted: ",yesterday.strftime('%d-%b-%Y'))

yesterday was:  2024-07-06
tomorrow is: 2024-07-08
Yesterday formatted:  06-Jul-2024

**6. Getting now in python and formatting it as per requirement**

In [20]:
# now to add time of data update 
now_date = datetime.datetime.now().date().strftime('%Y-%m-%d')

now_time = datetime.datetime.now().time().strftime('%H-%M-%S')

now_datetime = datetime.datetime.now().strftime('Day: %Y-%m-%d Time: %H-%M-%S')

print('now date = ', now_date, ' now time = ', now_time, ' now with formatting = ', now_datetime)

now date =  2024-07-07  now time =  17-56-01  now with formatting =  Day: 2024-07-07 Time: 17-56-01

**7. Calculating date difference**

In [22]:
# Date difference

sample_dt = ('03/11/2021', '03/12/2020')

date_end = pd.to_datetime(sample_dt[0], format = '%d/%m/%Y')

date_start = pd.to_datetime(sample_dt[1], format = '%d/%m/%Y')

diff_dt = date_end - date_start

diff_dt.days

335

**8. Converting datetime column in a sample data frame**

In [23]:
time_dict = {
    "Event": ['A', 'B', 'C', 'D', 'E'],
    "date_time" : ['6/9/2022 10:42 PM', '6/8/2022 6:22 AM', '6/10/2022 7:15 AM', '6/8/2022 10:59 PM', '6/7/2022 11:13 PM']
    }

dt_df = pd.DataFrame(time_dict)

dt_df

  Event          date_time
0     A  6/9/2022 10:42 PM
1     B   6/8/2022 6:22 AM
2     C  6/10/2022 7:15 AM
3     D  6/8/2022 10:59 PM
4     E  6/7/2022 11:13 PM

In [25]:
# Extract date
dt_df['date'] = pd.to_datetime(dt_df['date_time'], format='%m/%d/%Y %I:%M %p').dt.strftime('%Y-%m-%d')
# Extract time in 24 hrs format
dt_df['time_24'] = pd.to_datetime(dt_df['date_time'], format='%m/%d/%Y %I:%M %p').dt.time
# Extract time in 12 hrs format
dt_df['time_12'] = pd.to_datetime(dt_df['date_time'], format='%m/%d/%Y %I:%M %p').dt.strftime('%I:%M %p')
# Extract year
dt_df['year'] = pd.to_datetime(dt_df['date_time'], format='%m/%d/%Y %I:%M %p').dt.year
# Extract weekday
dt_df['weekday'] = pd.to_datetime(dt_df['date_time'], format='%m/%d/%Y %I:%M %p').dt.weekday
# Data frame after adding columns
dt_df

  Event          date_time        date   time_24   time_12  year  weekday
0     A  6/9/2022 10:42 PM  2022-06-09  22:42:00  10:42 PM  2022        3
1     B   6/8/2022 6:22 AM  2022-06-08  06:22:00  06:22 AM  2022        2
2     C  6/10/2022 7:15 AM  2022-06-10  07:15:00  07:15 AM  2022        4
3     D  6/8/2022 10:59 PM  2022-06-08  22:59:00  10:59 PM  2022        2
4     E  6/7/2022 11:13 PM  2022-06-07  23:13:00  11:13 PM  2022        1